/* barra superior */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.header-container{
    width: 100%;
    text-decoration: none;
    height: 120px;
}
    
nav{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 100%;
    line-height: 80px;
    top: 0;
    box-shadow: 0 4px 16px 0 rgba( 0, 0, 0, 0.1 );
    z-index: 3;
}
    
.navItems{
    display: flex;
    z-index: 3;
}
    
.navItems li{
    list-style: none;
    margin: 0 40px;
    position: relative;
    top: 20%;
    z-index: 3;
}
    
.navItems li a{
    font-size: 15px;
    color: grey;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 1;
}
    
.navItems li:hover a{
    color: #483d8b;
}
    
.links a{
    font-size: 20px;
    color: #6b3fa0;
    width: 100%;
    position: relative;
    top: 20%;
    left: 90%;
    margin: 10px 10px;
    z-index: 1;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 150px;
}

/* box cinza */
    
.glass-box{
    margin: 0 auto;
    width: 1300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    background-color:#f6f6f6;
    box-shadow: 0 8px 30px 0 rgba( 0, 0, 0, 0.3 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 100px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* caixa de input do usuário*/

.caixa-input {
    padding-top: 40px;
}
.forms-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.forms-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.palavras{
    color: #6b3fa0;
}
    
#titulo{
    font-weight: bold;
    font-size: 30px;
}
    
#cep {
    width: 800px;
    height: 50px;
    border-radius: 50px;
    padding: 12px;
    border: 1px solid #ccc;
}

.box-c {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.box-c::before {
    content: '';
    width: 1%;
    height: 50%;
    background-color: black;
    border-radius: 10px;
    z-index: -1;
}
    
.button-container {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 30px;
}
    
.centered-button {
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 6px 15px;
    margin: 40px 5px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: white;
}
    
#button{
    background-color: #6b3fa0;
}
    
#button:hover{
    background-color: #eabc17;
}
    
.lupa {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
/* slide carrossel */

.slide-section {
    margin: 0;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 650px;
    background: transparent;
    background-color:#f5f5f5;
    backdrop-filter: blur( 4px );
    gap: 2rem;
}
.slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
    
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: 50px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
    padding: 16px;
    transition: all 0.6s ease 0s;
    border-radius: 0px 3px 3px 0px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0
}
    
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
    
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
    
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
    
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
    background-color: #717171;
}
    
.dot-container {
    position: absolute;
    top: 102%;
    right: 32%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
}
    
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
    
.active, .dot:hover {
    background-color: #717171;
}
    
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Animações */
    
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* opiniao do usuário */

.fa {
    position: absolute;
    color: #6b3fa0;
    font-size: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Garante que o ícone esteja na frente */
}

.opiniao-usuario {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 15px;
}
.usuario-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #6b3fa0;
    font-weight: bold;
}

.opiniao {
    font-size: 13px;
    color: #6b3fa0;
    white-space: nowrap;
    text-align: center;
}

.icon-container {
    position: relative;
    height: 100px; /* Ajuste conforme necessário */
    width: 100px; /* Ajuste conforme necessário */
    user-select: none;
}

.sombra {
    position: absolute;
    background-color: #633b93;
    border-radius: 50%;
    width: calc(100% + 10px); /* Ajuste conforme necessário para a borda roxa */
    height: calc(100% + 10px); 
    width: 85px;
    height: 85px;
    z-index: 0; /* Garante que a sombra esteja atrás do círculo frontal */
}

.frontal {
    position: relative;
    background-color: #ffffff;
    width: 80px; /* Ajuste conforme necessário */
    height: 80px; /* Ajuste conforme necessário */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Garante que o círculo frontal esteja na frente da sombra */
}


/* forms usuário */

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: #f7f7f7;
    gap: 15px;
}

.forms-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forms-newsletter input::placeholder,
.forms-newsletter textarea::placeholder {
    color:#b4b4b4;
}

.forms-newsletter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-title {
    font-size: 30px;
    color: #6b3fa0;
    margin-bottom: 10px;
    font-weight: 500;
}

.form-label {
    align-self: flex-start;
    margin-top: 15px;
    color: grey;
    font-weight: 600;
}

.form-message,
.form-email {
    height: 30px;
}
.form-message,
.form-email,
.form-textarea {
    width: 400px;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
    transition: border-color 0.3s;
    border-radius: 6px;
    padding: 12px;
    border: 1px solid #ccc;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #007bff;
}

.form-button {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    background-color: #6b3fa0;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: #eabc17;
}

/*  Footer */

footer {
    padding: 1.8rem;
    margin-bottom: 1rem;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: grey;
    font-size: 12px;
}
