:root{
    --main-color: #6b3fa0;
}

.card:hover{
    box-shadow: 0 0 2px var(--main-color),
                0 0 3px var(--main-color),
                0 0 4px var(--main-color);
}

/* pagina inicial */

.header-container{
    width: 100%;
    text-decoration: none;
}

nav{
    font-family: 'Manrope', sans-serif;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 120px;
    line-height: 80px;
    top: 0;
    box-shadow: 0 4px 16px 0 rgba( 0, 0, 0, 0.1 );
    z-index: 3;
}

.navItems{
    display: flex;
    z-index: 3;
}

.navItems li{
    list-style: none;
    margin: 0 40px;
    position: relative;
    top: 10%;
    left: -3%;
    z-index: 3;
}

.navItems li a{
    font-size: 15px;
    color: grey;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 1;
}

.navItems li:hover a{
    color: #483d8b;
}

.links a{
    font-size: 20px;
    color: #6b3fa0;
    width: 100%;
    position: relative;
    top: 20%;
    left: 82%;
    margin: 10px 10px;
    z-index: 1;
}

.logo{
position: relative;
left: 6px;
}

/* footer */

#icon-footer{
    position: absolute;
    top: 245%;
    left: 39%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: grey;
    font-size: 10px;
}

.group{
    position: absolute;
    top: 245%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: grey;
    font-size: 15px;
    padding-bottom: 100px;
}

/* produtos */

.main-container{
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0;
}

.main-box,.main-box2{
    display: flex;
    justify-content: center;
}

.card{
    font-family:Arial, Helvetica, sans-serif;
    margin: 50px;
    background-color: white;
    color: #202020;
    width: 300px;
    height: 440px;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 20px, rgba(0, 0, 0, 0.22) 0px 10px 8px;
}

.card>h4{
    padding-top: 10px;
}

.card>img {
    width: 100%;
    height: 65%;
    border-top-left-radius:10px;
    border-top-right-radius:10px ;
}

button{
    padding: 10px;
    font-size: 12px;
    border: none;
    background-color: #5adb4b;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: #6b3fa0;
}

.story-geral ul{

list-style-type: none;
user-select: none;
display: flex;
overflow-y: auto;
padding: 20px 0;
}

.story-geral{
    padding-left: 28%;
}
.story-geral ul li{
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-geral ul li:first-child{
    padding-left: 20px;
}
.story-geral ul li:last-child{
    padding-right: 20px;
}

.story-geral ul li .story{
width: 75px;
height: 75px;
border-radius: 50%;
background: rgba( 0, 255, 200, 0.5 ) ;
padding: 1px;
position: relative;
}

.story-geral ul li.has-story .story{
   padding: 2px;
   background: linear-gradient(45deg,#9e02dc 0%,#ae3eef 25%, #e84eea 50%, #be69e9 75%, #d0ef36 100%);
}

.story-geral ul li .story img{
    padding: 4px;
    border-radius:50%;
    width: 100%;
    height: 100%;
}

.story-geral ul li span{
    color: grey;
    font-weight: 300;
    font-size: 15px;
    max-width:85px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.story{
    cursor: pointer;
}

.text-animation span{
    position: relative;
    padding-left: 45%;
}

.text-animation span::before{
    content: "COMPUTER SCIENCE student";
    color: var(--main-color);
    animation: words 1s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: calc(100% + 8px);
    height: -8px;
    animation: cursor 0.4s infinite, typing 0.5s steps(12) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    33%{
        content:"Nordeste";
    }

    34%,
    66%{
        content: "Pernambuco";
    }

    67%,
    100%{
        content: "Recife";
    }    
}
@keyframes typing{
    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    95%{
        width: 0;
    }
    5%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    85%{
        width: calc(100% + 8px);
    }
}

