/* barra superior */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 1800px;
    height: 0;
    width: 0;
}

.header-container{
    width: 100%;
    text-decoration: none;
}

nav{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 120px;
    line-height: 80px;
    top: 0;
    box-shadow: 0 4px 16px 0 rgba( 0, 0, 0, 0.1 );
    z-index: 3;
}

.navItems{
    display: flex;
    z-index: 3;
}

.navItems li{
    list-style: none;
    margin: 0 40px;
    position: relative;
    top: 20%;
    z-index: 3;
}

.navItems li a{
    font-size: 15px;
    color: grey;
    letter-spacing: 3px;
    text-decoration: none;
    z-index: 1;
}

.navItems li:hover a{
    color: #483d8b;
}

.links a{
    font-size: 20px;
    color: #6b3fa0;
    width: 100%;
    position: relative;
    top: 20%;
    left: 90%;
    margin: 10px 10px;
    z-index: 1;
}
/* produtos */

.produto-01{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-01{
    position: absolute;
    top: 80%;
    left: 23%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

.produto-02{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-02{
    position: absolute;
    top: 80%;
    left: 53%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

.produto-03{
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-03{
    position: absolute;
    top: 80%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

.produto-04{
    margin: 0 auto;
    position: absolute;
    top: 110%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-04{
    position: absolute;
    top: 140%;
    left: 23%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

.produto-05{
    margin: 0 auto;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-05{
    position: absolute;
    top: 140%;
    left: 53%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

.produto-06{
    margin: 0 auto;
    position: absolute;
    top: 110%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#produto-06{
    position: absolute;
    top: 140%;
    left: 83%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #008000;
    font-size: 13px;
    cursor: pointer;
}

/* footer */

#icon-footer{
    position: absolute;
    top: 245%;
    left: 39%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: grey;
    font-size: 10px;
}

.group{
    position: absolute;
    top: 245%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: grey;
    font-size: 10px;
}